In [14]:
#USED TO DEVELOP THE APP but not to deploy the app
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import ticker

In [2]:
### STEP ONE: load data ###
#@st.cache_data
path = r"C:\Users\DSikkink\OneDrive - US House of Representatives\Python\Biden's Big Gov\output"
df = pd.read_excel(os.path.join(path, 'agency_outlays.xlsx')) 

### STEP TWO: charts ###

def linechart_maker(agency):
    df_agency = df[df['agency'] == agency]
    df_agency = df_agency.sort_values(by=['source','year'])
    df_agency['outlays'] = df_agency['outlays'] / 1000 #convert to billions
    sns.set_style('whitegrid')
    #plt.rcParams['font.family'] = 'Playfair Display'  
    plt.figure(figsize=(12, 5.3))
    palette = {'CBO21': '#967D4A', 'CBO24': '#84AE95', 'OMB': '#000000'}
    lineplot = sns.lineplot(data=df_agency, x='year', y='outlays', hue='source', palette=palette, linewidth=3.4)
    plt.title(f'{agency} \n Outlay Projections Before Biden vs. Now', weight='bold', fontsize=16)
    plt.ylabel('Outlays \n (billions of $)')
    plt.xlabel('Fiscal Year')
    plt.legend(bbox_to_anchor=(0.5, -0.15), loc='upper center', ncol=3)
    lineplot.grid(False, 'both', 'x')
    legend = lineplot.get_legend() # Get the current legend
    legend.set_title('') # Remove the legend title
    for t, l in zip(legend.texts, ('CBO 2021 Projection', 'CBO 2024 Projection', 'Actual Outlays')): # Rename the legend labels
        t.set_text(l)
    
    plt.gca().yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, pos: f'${x:.0f}'))
    sns.despine(offset=15, left=True)
    plt.show()

In [36]:
agency_counts = df['agency'].value_counts()
agencies_to_drop = agency_counts[agency_counts != 51].index
print(type(agencies_to_drop))
df_filtered = df[~df['agency'].isin(agencies_to_drop)].query('agency != "Allowances"')
df_filtered

<class 'pandas.core.indexes.base.Index'>

                                             agency source  year outlays
20                  Corps of Engineers--Civil Works  CBO24  2024   10028
26                        Department of Agriculture  CBO24  2024  210587
27                           Department of Commerce  CBO24  2024   14915
28         Department of Defense--Military Programs  CBO24  2024  783711
29                          Department of Education  CBO24  2024  156354
...                                             ...    ...   ...     ...
4975              International Assistance Programs    OMB  2034     NaN
4976  National Aeronautics and Space Administration    OMB  2034     NaN
4977                    National Science Foundation    OMB  2034     NaN
4978                 Office of Personnel Management    OMB  2034     NaN
4979                  Small Business Administration    OMB  2034     NaN

[1377 rows x 4 columns]

In [37]:
df_filtered.query("agency == 'Allowances'")

Empty DataFrame
Columns: [agency, source, year, outlays]
Index: []