In [1]:
#CODE TO GET THE 3 LARGEST INCREASES of whatever variable
#assumes there already exists a column with "dollar_change"
#should "dollar_change" be abs(2024) - abs(2021)? Or just regular values?
#imports and read in data with little cleaning
import pandas as pd
case_studies = ["Department of Agriculture", "Department of Commerce", "Department of Labor", 'Department of the Treasury', "Department of Transportation", "Environmental Protection Agency"]
sheetname = "agency-bureau inc 2"
df = pd.read_excel("../output/cbo_projection_changes.xlsx", sheet_name=sheetname).query('percent_change > 0') #filter out decreases in spending
df['percent_change'] = df['percent_change'].astype(float)
df.head(2)

,Agency,Bureau,22-31,25-34,dollar_change,percent_change
0,Access Board,Salaries and expenses,106,119,13,12.264151
1,Administrative Conference of the United States,Salaries and Expenses,35,36,1,2.857143

In [3]:
#a quick check to see what the data looks like
df[df['Agency'] =="Department of Transportation"].sort_values(by='percent_change', ascending=False)

,Agency,Bureau,22-31,25-34,dollar_change,percent_change
190,Department of Transportation,Federal Railroad Administration,30379,130891,100512,330.860134
195,Department of Transportation,Office of the Secretary,16757,50359,33602,200.525154
196,Department of Transportation,Pipeline and Hazardous Materials Safety Admini...,3198,5524,2326,72.732958
191,Department of Transportation,Federal Transit Administration,157538,234475,76937,48.837106
193,Department of Transportation,National Highway Traffic Safety Administration,11711,17177,5466,46.674067
188,Department of Transportation,Federal Highway Administration,521111,750419,229308,44.003677
187,Department of Transportation,Federal Aviation Administration,199758,272516,72758,36.423072
189,Department of Transportation,Federal Motor Carrier Safety Administration,8146,10645,2499,30.677633
192,Department of Transportation,Maritime Administration,13018,15157,2139,16.431095
194,Department of Transportation,Office of Inspector General,1180,1350,170,14.406780

In [4]:
df = df.groupby('Agency').filter(lambda x: len(x) >= 3) #only those with three or more entries
col_for_largest = "percent_change" 
top_three = df.groupby('Agency').apply(lambda x: x.nlargest(3, col_for_largest)).reset_index(drop=True)
top_three

C:\Users\DSikkink\AppData\Local\Temp\ipykernel_24484\3008927936.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_three = df.groupby('Agency').apply(lambda x: x.nlargest(3, col_for_largest)).reset_index(drop=True)

,Agency,Bureau,22-31,25-34,dollar_change,percent_change
0,Corporation for National and Community Service,Salaries and Expenses,1002,1187,185,18.463074
1,Corporation for National and Community Service,Operating Expenses,8974,10454,1480,16.492088
2,Corporation for National and Community Service,Office of Inspector General,81,93,12,14.814815
3,Corps of Engineers--Civil Works,Washington aqueduct,-10,371,381,3810.000000
4,Corps of Engineers--Civil Works,Flood control and coastal emergencies,792,1552,760,95.959596
...,...,...,...,...,...,...
88,Smithsonian Institution,"Capital Repair and Restoration, JFK Center for...",157,196,39,24.840764
89,Smithsonian Institution,Facilities capital,2372,2749,377,15.893761
90,Social Security Administration,Payments to social security trust funds,644376,896956,252580,39.197611
91,Social Security Administration,"FOASI, Tax refund offset and proprietary recei...",-205,-130,75,36.585366
92,Social Security Administration,Federal Old-age and Survivors Insurance Trust ...,13807535,17955106,4147571,30.038461

In [4]:
df.query('Agency == "Department of Commerce"').sort_values(by='percent_change', ascending=False)

,Agency,Bureau,22-31,25-34,dollar_change,percent_change
89,Department of Commerce,National Telecommunications and Information Ad...,2844,51162,48318,1698.945148
87,Department of Commerce,National Institute of Standards and Technology,12150,64105,51955,427.613169
84,Department of Commerce,Economic Development Administration,5434,9310,3876,71.328671
86,Department of Commerce,Minority Business Development Agency,541,880,339,62.661738
80,Department of Commerce,Bureau of Industry and Security,1565,2253,688,43.961661
83,Department of Commerce,Departmental Management,1654,2240,586,35.429262
88,Department of Commerce,National Oceanic and Atmospheric Administration,68048,88478,20430,30.022925
81,Department of Commerce,Bureau of the Census,13482,17370,3888,28.838451
79,Department of Commerce,Bureau of Economic Analysis,1336,1565,229,17.140719
90,Department of Commerce,U.S. Patent and Trademark Office,-241,-202,39,16.182573
85,Department of Commerce,International Trade Administration,6161,7149,988,16.036358
82,Department of Commerce,Department of Commerce,-130,-110,20,15.384615

In [7]:
df = top_three.query('Agency in @case_studies')
df['percent_change'] = round(df['percent_change'])
df.to_excel("../output/top_three_agencies.xlsx", sheet_name="3 largest by percent", index=False)

C:\Users\DSikkink\AppData\Local\Temp\ipykernel_24484\1666309245.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percent_change'] = round(df['percent_change'])

In [15]:
filename = "../output/program_increases.xlsx"
sheetname = "top three bureaus for agency"
df_final = top_three.query('Agency in @case_studies')
with pd.ExcelWriter(filename, mode="a", engine="openpyxl") as writer:
    df_final.sort_values(by=['Agency',col_for_largest], ascending=False).to_excel(writer, sheet_name=sheetname, index=False)